.cfg.git
.ssh
.config/clipse/clipboard_history.json
.config/clipse/tmp_files/
.config/BraveSoftware/
.config/rclone/rclone.conf
.bash_history
[1;129B.bash_logout
.bash_profile
.cache/
.local/share/
.local/state/lesshst
.local/state/nvim/
.local/state/wireplumber/
.local/state/yazi/packages/
.pki/
.viminfo.tmp
.viminfz.tmp
"Sta\305\276en\303\251/"
endos/
.bash_logout
Public/
.config/vim/plugged/filepicker.vim/
